.DS_Store
.env
.venv
__pycache__


/aggregate_results.py
/build_database.py
/csv_files
data_out/*
/notebook.ipynb
/notebook.py
/query.sql
/requirements.txt
/rules_ref.md
/rules_reference.md
/simulation_functions.py
/worldcup2026.db